*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
   margin-left: 250px;
}
p{
    margin-left: 250px;
    padding-top: 50px;
}
button{
    margin-left:250px;
    padding-top: 1px
}
h1,p{
    background-color: orange;
}